{% extends "app/layout.html" %}
{% block content %}


<h1>{{title}}</h1>
<hr />
<div>

    <h2>Команда из ЛФЛ представила свою новую форму </h2>
    <VIDEO src="../../static/app/media/Forma.mp4" controls="controls" width="400" height="300" poster="../../static/app/content/Video2.png"></VIDEO>

</div>
<hr />
<div>
    <h2>Данный гол был номинирован,как лучший гол турнира </h2>
    <VIDEO src="../../static/app/media/gol.mp4" controls="controls" width="400" height="300" poster="../../static/app/content/Video1.png"></VIDEO>
</div>

{% endblock %}